# Content


#### 1 Importing datasets
#### 2 Including monthly ridership
#### 3 Exporting dataset

## 1 Importing datasets

In [430]:
#importing libraries
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os

In [431]:
#importing dataset
path=r'/Users/Amaikuru/Desktop/Toronto Bus Delays'

In [432]:
df=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared', 'final_dataset.pkl'))

In [433]:
ridership=pd.read_csv(os.path.join(path, '02 Data', 'Original', 'TTC Monthly Ridership.csv'))

In [434]:
df.shape

(72831, 27)

In [435]:
ridership.shape

(24, 3)

In [436]:
df.head()

,Date,Time,Day,Incident,Min Delay,Min Gap,Fleet,stop_name,Route,ward_name,...,n_stations,n_stops,n_stops_route,avg_temperature,avg_visibility,precipitation,stop_delay_count,route_delay_count,ward_delay_count,day_delay_count
0,1/1/21,04:26,Friday,Emergency Services,0,0,1553,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,33.0,291,133,-1.24,13250,8.0,350,558,2981,55
1,1/1/21,05:04,Friday,Mechanical,10,0,8144,STRACHAN AVE AT CANNIFF ST,63,Spadina-Fort York,...,18.0,205,57,-1.24,13250,8.0,29,1301,1720,55
2,1/1/21,05:34,Friday,Mechanical,24,48,8365,949 WILSON AVE,96,York Centre,...,38.0,453,163,-1.24,13250,8.0,297,1506,6068,55
3,1/1/21,05:44,Friday,Emergency Services,15,30,8181,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,33.0,291,133,-1.24,13250,8.0,350,558,2981,55
4,1/1/21,06:21,Friday,Vision,30,60,3186,JANE STATION,35,Parkdale-High Park,...,25.0,306,113,-1.24,13250,8.0,657,1578,2789,55

## 2 Including monthly Ridership

In [437]:
import datetime

In [438]:
#including year and month column
#changing date column to date
df['Date']= pd.to_datetime(df['Date'])

In [439]:
df.dtypes

Date                       datetime64[ns]
Time                               object
Day                                object
Incident                           object
Min Delay                           int64
Min Gap                             int64
Fleet                              object
stop_name                          object
Route                              object
ward_name                          object
ward_population                   float64
ward_median_age                   float64
ward_median_income                float64
n_poi                             float64
n_schools                         float64
n_worship                         float64
dist_to_nearest_station           float64
n_stations                        float64
n_stops                             int64
n_stops_route                       int64
avg_temperature                   float64
avg_visibility                      int64
precipitation                     float64
stop_delay_count                    int64
route_delay_count                   int64
ward_delay_count                    int64
day_delay_count                     int64
dtype: object

In [440]:
#creating year column
df['year'] = pd.DatetimeIndex(df['Date']).year

In [441]:
df.head()

,Date,Time,Day,Incident,Min Delay,Min Gap,Fleet,stop_name,Route,ward_name,...,n_stops,n_stops_route,avg_temperature,avg_visibility,precipitation,stop_delay_count,route_delay_count,ward_delay_count,day_delay_count,year
0,2021-01-01,04:26,Friday,Emergency Services,0,0,1553,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,291,133,-1.24,13250,8.0,350,558,2981,55,2021
1,2021-01-01,05:04,Friday,Mechanical,10,0,8144,STRACHAN AVE AT CANNIFF ST,63,Spadina-Fort York,...,205,57,-1.24,13250,8.0,29,1301,1720,55,2021
2,2021-01-01,05:34,Friday,Mechanical,24,48,8365,949 WILSON AVE,96,York Centre,...,453,163,-1.24,13250,8.0,297,1506,6068,55,2021
3,2021-01-01,05:44,Friday,Emergency Services,15,30,8181,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,291,133,-1.24,13250,8.0,350,558,2981,55,2021
4,2021-01-01,06:21,Friday,Vision,30,60,3186,JANE STATION,35,Parkdale-High Park,...,306,113,-1.24,13250,8.0,657,1578,2789,55,2021

In [442]:
#creating month column
df['month'] = pd.DatetimeIndex(df['Date']).month

In [443]:
df.head()

,Date,Time,Day,Incident,Min Delay,Min Gap,Fleet,stop_name,Route,ward_name,...,n_stops_route,avg_temperature,avg_visibility,precipitation,stop_delay_count,route_delay_count,ward_delay_count,day_delay_count,year,month
0,2021-01-01,04:26,Friday,Emergency Services,0,0,1553,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,133,-1.24,13250,8.0,350,558,2981,55,2021,1
1,2021-01-01,05:04,Friday,Mechanical,10,0,8144,STRACHAN AVE AT CANNIFF ST,63,Spadina-Fort York,...,57,-1.24,13250,8.0,29,1301,1720,55,2021,1
2,2021-01-01,05:34,Friday,Mechanical,24,48,8365,949 WILSON AVE,96,York Centre,...,163,-1.24,13250,8.0,297,1506,6068,55,2021,1
3,2021-01-01,05:44,Friday,Emergency Services,15,30,8181,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,133,-1.24,13250,8.0,350,558,2981,55,2021,1
4,2021-01-01,06:21,Friday,Vision,30,60,3186,JANE STATION,35,Parkdale-High Park,...,113,-1.24,13250,8.0,657,1578,2789,55,2021,1

In [444]:
df.tail()

,Date,Time,Day,Incident,Min Delay,Min Gap,Fleet,stop_name,Route,ward_name,...,n_stops_route,avg_temperature,avg_visibility,precipitation,stop_delay_count,route_delay_count,ward_delay_count,day_delay_count,year,month
72826,2022-07-31,00:48,Sunday,Mechanical,10,20,3105,STEELES AVE EAST AT TARBERT RD,53,Don Valley North,...,117,22.6,24100,0.0,2,989,1615,124,2022,7
72827,2022-07-31,00:50,Sunday,Utilized Off Route,10,20,8476,VICTORIA PARK STATION,24,Scarborough Southwest,...,118,22.6,24100,0.0,1135,911,5739,124,2022,7
72828,2022-07-31,00:58,Sunday,Emergency Services,13,26,3439,MEADOWVALE RD AT SHEPPARD AVE EAST,86,Scarborough-Rouge Park,...,85,22.6,24100,0.0,56,783,2590,124,2022,7
72829,2022-07-31,01:14,Sunday,Utilized Off Route,15,30,1036,KIPLING STATION,300,Etobicoke-Lakeshore,...,182,22.6,24100,0.0,1579,621,4208,124,2022,7
72830,2022-07-31,01:32,Sunday,Operations - Operator,30,60,0,EGLINTON STATION,32,Toronto-St. Paul's,...,106,22.6,24100,0.0,1434,2183,3455,124,2022,7

In [445]:
#importing calendar
import calendar

In [446]:
#using abbreviated month names
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])

In [447]:
df.head()

,Date,Time,Day,Incident,Min Delay,Min Gap,Fleet,stop_name,Route,ward_name,...,n_stops_route,avg_temperature,avg_visibility,precipitation,stop_delay_count,route_delay_count,ward_delay_count,day_delay_count,year,month
0,2021-01-01,04:26,Friday,Emergency Services,0,0,1553,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,133,-1.24,13250,8.0,350,558,2981,55,2021,Jan
1,2021-01-01,05:04,Friday,Mechanical,10,0,8144,STRACHAN AVE AT CANNIFF ST,63,Spadina-Fort York,...,57,-1.24,13250,8.0,29,1301,1720,55,2021,Jan
2,2021-01-01,05:34,Friday,Mechanical,24,48,8365,949 WILSON AVE,96,York Centre,...,163,-1.24,13250,8.0,297,1506,6068,55,2021,Jan
3,2021-01-01,05:44,Friday,Emergency Services,15,30,8181,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,133,-1.24,13250,8.0,350,558,2981,55,2021,Jan
4,2021-01-01,06:21,Friday,Vision,30,60,3186,JANE STATION,35,Parkdale-High Park,...,113,-1.24,13250,8.0,657,1578,2789,55,2021,Jan

In [448]:
entries=df.loc[df['year']==2022]

In [449]:
entries['month'].value_counts()

Jul    5696
Jan    5575
Jun    4664
May    4383
Apr    3959
Mar    3942
Feb    3804
Name: month, dtype: int64

In [450]:
#merging on df with values that have the same month and year
df2 = pd.merge(df, ridership,  how='inner', on=['year','month'])

In [451]:
df2.isnull().sum()

Date                          0
Time                          0
Day                           0
Incident                      0
Min Delay                     0
Min Gap                       0
Fleet                         0
stop_name                     0
Route                         0
ward_name                     0
ward_population               0
ward_median_age               0
ward_median_income            0
n_poi                         0
n_schools                     0
n_worship                     0
dist_to_nearest_station       0
n_stations                    0
n_stops                       0
n_stops_route                 0
avg_temperature               0
avg_visibility                0
precipitation                 0
stop_delay_count              0
route_delay_count             0
ward_delay_count              0
day_delay_count               0
year                          0
month                         0
Ridership                  5696
dtype: int64

In [452]:
nullset=df2.loc[df2['Ridership'].isnull()==True]

In [453]:
#there are no 
nullset.month.value_counts()

Jul    5696
Name: month, dtype: int64

In [454]:
#there are no ridership values for July, excluding from dataset
df3 = df2.drop(nullset.index)

In [455]:
df3.shape

(67135, 30)

In [456]:
#including column for monthly delay count
df3['month_delay_count'] = df3.groupby(['month','year'])['Min Delay'].transform('count')

In [457]:
df3.isnull().sum()

Date                       0
Time                       0
Day                        0
Incident                   0
Min Delay                  0
Min Gap                    0
Fleet                      0
stop_name                  0
Route                      0
ward_name                  0
ward_population            0
ward_median_age            0
ward_median_income         0
n_poi                      0
n_schools                  0
n_worship                  0
dist_to_nearest_station    0
n_stations                 0
n_stops                    0
n_stops_route              0
avg_temperature            0
avg_visibility             0
precipitation              0
stop_delay_count           0
route_delay_count          0
ward_delay_count           0
day_delay_count            0
year                       0
month                      0
Ridership                  0
month_delay_count          0
dtype: int64

In [458]:
df.dtypes

Date                       datetime64[ns]
Time                               object
Day                                object
Incident                           object
Min Delay                           int64
Min Gap                             int64
Fleet                              object
stop_name                          object
Route                              object
ward_name                          object
ward_population                   float64
ward_median_age                   float64
ward_median_income                float64
n_poi                             float64
n_schools                         float64
n_worship                         float64
dist_to_nearest_station           float64
n_stations                        float64
n_stops                             int64
n_stops_route                       int64
avg_temperature                   float64
avg_visibility                      int64
precipitation                     float64
stop_delay_count                    int64
route_delay_count                   int64
ward_delay_count                    int64
day_delay_count                     int64
year                                int64
month                              object
dtype: object

## 3 Including average collisions set

In [459]:
import geopandas as gpd
from geopandas.tools import sjoin
from shapely.geometry import Polygon, MultiPolygon
import os
from shapely.geometry import Point
from shapely.ops import nearest_points

In [460]:
gpd.options.use_pygeos = False

In [461]:
collisions='/Users/Amaikuru/Desktop/Toronto Bus Delays/02 Data/Original/Traffic_Collisions_(ASR-T-TBL-001).geojson'

In [462]:
collision= gpd.read_file(collisions)

In [463]:
collision.head()

,OBJECTID,EventUniqueId,OccurrenceDate,Month,Day_of_Week,Year,Hour,Division,Atom,Neighbourhood,Fatalities,Injury_Collisions,FTR_Collisions,PD_Collisions,Longitude,Latitude,ObjectId2,geometry
0,601,GO-20141340438,2014-01-14 05:00:00+00:00,January,Tuesday,2014,8,D14,81,Trinity-Bellwoods (81),0,YES,NO,NO,-79.414908,43.650499,1,POINT (-79.41491 43.65050)
1,602,GO-20141340473,2014-01-14 05:00:00+00:00,January,Tuesday,2014,8,D11,88,High Park North (88),0,NO,NO,YES,-79.452414,43.656322,2,POINT (-79.45241 43.65632)
2,603,GO-20141340536,2014-01-14 05:00:00+00:00,January,Tuesday,2014,8,NSA,NSA,NSA,0,YES,YES,NO,0.000000,0.000000,3,POINT (0.00000 0.00000)
3,604,GO-20141340634,2014-01-14 05:00:00+00:00,January,Tuesday,2014,9,D53,96,Casa Loma (96),0,NO,NO,YES,-79.406638,43.682487,4,POINT (-79.40664 43.68249)
4,605,GO-20141340744,2014-01-14 05:00:00+00:00,January,Tuesday,2014,8,D53,99,Mount Pleasant East (99),0,NO,YES,NO,-79.374575,43.704270,5,POINT (-79.37457 43.70427)

In [464]:
dupes=collision[collision.duplicated()]

In [465]:
dupes.shape

(0, 18)

In [466]:
#makng subset with only useful columns
collision_sub=collision[['OccurrenceDate','Neighbourhood','Year','Hour','geometry',
                         'Fatalities','Injury_Collisions','FTR_Collisions','PD_Collisions']]

In [467]:
collision_sub.isnull().sum()

OccurrenceDate       0
Neighbourhood        0
Year                 0
Hour                 0
geometry             0
Fatalities           0
Injury_Collisions    0
FTR_Collisions       0
PD_Collisions        0
dtype: int64

In [468]:
#excluding collisions that have no entries for neighbourhood
collisionNSA=collision_sub[collision_sub.eq("NSA").any(1)]

In [469]:
collisionNSA.shape

(77152, 9)

In [470]:
collision_sub.shape

(526256, 9)

In [471]:
#exporting collisionNSA to csv
collisionNSA.to_csv(os.path.join(path, '02 Data','Prepared', 'no_neighborhood_collisions.csv'))

In [472]:
#removing from dataframe
collision_sub = collision_sub.drop(collisionNSA.index)

In [473]:
collision_sub.shape

(449104, 9)

In [474]:
collision_sub.dtypes

OccurrenceDate       datetime64[ns, UTC]
Neighbourhood                     object
Year                               int64
Hour                               int64
geometry                        geometry
Fatalities                         int64
Injury_Collisions                 object
FTR_Collisions                    object
PD_Collisions                     object
dtype: object

In [475]:
#filtering to only include 2021 and 2022 data
collision_fil=collision_sub.loc[collision_sub['Year']>=2021]

In [476]:
collision_fil['Year'].value_counts()

2021    36327
Name: Year, dtype: int64

In [477]:
collision_fil.columns

Index(['OccurrenceDate', 'Neighbourhood', 'Year', 'Hour', 'geometry',
       'Fatalities', 'Injury_Collisions', 'FTR_Collisions', 'PD_Collisions'],
      dtype='object')

In [478]:
df3.columns

Index(['Date', 'Time', 'Day', 'Incident', 'Min Delay', 'Min Gap', 'Fleet',
       'stop_name', 'Route', 'ward_name', 'ward_population', 'ward_median_age',
       'ward_median_income', 'n_poi', 'n_schools', 'n_worship',
       'dist_to_nearest_station', 'n_stations', 'n_stops', 'n_stops_route',
       'avg_temperature', 'avg_visibility', 'precipitation',
       'stop_delay_count', 'route_delay_count', 'ward_delay_count',
       'day_delay_count', 'year', 'month', 'Ridership', 'month_delay_count'],
      dtype='object')

In [479]:
#renaming columns to match df3
collision_fil.rename(columns={'OccurrenceDate': 'Date'},inplace=True)

/var/folders/6_/ng_hc75d34d6mrrv7c0dv1380000gn/T/ipykernel_16903/2220111787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  collision_fil.rename(columns={'OccurrenceDate': 'Date'},inplace=True)

In [480]:
#making subset with required columns
cols=collision_fil[['Date','Neighbourhood','Fatalities', 'Injury_Collisions', 'FTR_Collisions', 'PD_Collisions']]

In [481]:
#grouping by neighborhood and including count column
cols['neighborhood_collisions'] =cols.groupby(['Date','Neighbourhood'])['Date'].transform('count')

/var/folders/6_/ng_hc75d34d6mrrv7c0dv1380000gn/T/ipykernel_16903/2485121164.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols['neighborhood_collisions'] =cols.groupby(['Date','Neighbourhood'])['Date'].transform('count')

In [482]:
cols.head()

,Date,Neighbourhood,Fatalities,Injury_Collisions,FTR_Collisions,PD_Collisions,neighborhood_collisions
482023,2021-06-05 04:00:00+00:00,Islington-City Centre West (14),0,YES,NO,NO,2
482044,2021-06-02 04:00:00+00:00,Mount Olive-Silverstone-Jamestown (2),0,NO,NO,YES,2
482046,2021-06-01 04:00:00+00:00,Waterfront Communities-The Island (77),0,YES,NO,NO,3
482108,2021-06-01 04:00:00+00:00,South Riverdale (70),0,YES,NO,NO,2
482110,2021-06-09 04:00:00+00:00,Runnymede-Bloor West Village (89),0,YES,YES,NO,2

In [483]:
from datetime import datetime

In [484]:
#changing date format
cols['Date']=cols['Date'].dt.strftime("%Y-%m-%d")

/var/folders/6_/ng_hc75d34d6mrrv7c0dv1380000gn/T/ipykernel_16903/1135836590.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols['Date']=cols['Date'].dt.strftime("%Y-%m-%d")

In [485]:
cols.head()

,Date,Neighbourhood,Fatalities,Injury_Collisions,FTR_Collisions,PD_Collisions,neighborhood_collisions
482023,2021-06-05,Islington-City Centre West (14),0,YES,NO,NO,2
482044,2021-06-02,Mount Olive-Silverstone-Jamestown (2),0,NO,NO,YES,2
482046,2021-06-01,Waterfront Communities-The Island (77),0,YES,NO,NO,3
482108,2021-06-01,South Riverdale (70),0,YES,NO,NO,2
482110,2021-06-09,Runnymede-Bloor West Village (89),0,YES,YES,NO,2

In [486]:
cols.shape

(36327, 7)

In [487]:
#including daily collision count
cols['day_collisions'] =cols.groupby(['Date'])['Date'].transform('count')

/var/folders/6_/ng_hc75d34d6mrrv7c0dv1380000gn/T/ipykernel_16903/4252181395.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols['day_collisions'] =cols.groupby(['Date'])['Date'].transform('count')

In [488]:
cols.head()

,Date,Neighbourhood,Fatalities,Injury_Collisions,FTR_Collisions,PD_Collisions,neighborhood_collisions,day_collisions
482023,2021-06-05,Islington-City Centre West (14),0,YES,NO,NO,2,96
482044,2021-06-02,Mount Olive-Silverstone-Jamestown (2),0,NO,NO,YES,2,76
482046,2021-06-01,Waterfront Communities-The Island (77),0,YES,NO,NO,3,89
482108,2021-06-01,South Riverdale (70),0,YES,NO,NO,2,89
482110,2021-06-09,Runnymede-Bloor West Village (89),0,YES,YES,NO,2,107

In [489]:
cols.isna().sum()

Date                       0
Neighbourhood              0
Fatalities                 0
Injury_Collisions          0
FTR_Collisions             0
PD_Collisions              0
neighborhood_collisions    0
day_collisions             0
dtype: int64

#### only 2021 data is available in dataset

In [490]:
#including neighborhood column in dataset
#importing stops geojson
stops='/Users/Amaikuru/Desktop/Toronto Bus Delays/02 Data/Prepared/stops2.geojson'

In [491]:
neighborhoods='/Users/Amaikuru/Desktop/Toronto Bus Delays/02 Data/Original/neighbourhoods-4326.geojson'

In [492]:
neighborhoods=gpd.read_file(neighborhoods)

In [493]:
stops=gpd.read_file(stops)

In [494]:
neighborhoods.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [495]:
stops.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [496]:
neighborhoods.head()

,_id,AREA_ID,AREA_ATTR_ID,PARENT_AREA_ID,AREA_SHORT_CODE,AREA_LONG_CODE,AREA_NAME,AREA_DESC,CLASSIFICATION,CLASSIFICATION_CODE,OBJECTID,geometry
0,1,2502366,26022881,None,174,174,South Eglinton-Davisville,South Eglinton-Davisville (174),Not an NIA or Emerging Neighbourhood,None,17824737,"POLYGON ((-79.38635 43.69783, -79.38623 43.697..."
1,2,2502365,26022880,None,173,173,North Toronto,North Toronto (173),Not an NIA or Emerging Neighbourhood,None,17824753,"POLYGON ((-79.39744 43.70693, -79.39837 43.706..."
2,3,2502364,26022879,None,172,172,Dovercourt Village,Dovercourt Village (172),Not an NIA or Emerging Neighbourhood,None,17824769,"POLYGON ((-79.43411 43.66015, -79.43537 43.659..."
3,4,2502363,26022878,None,171,171,Junction-Wallace Emerson,Junction-Wallace Emerson (171),Not an NIA or Emerging Neighbourhood,None,17824785,"POLYGON ((-79.43870 43.66766, -79.43841 43.666..."
4,5,2502362,26022877,None,170,170,Yonge-Bay Corridor,Yonge-Bay Corridor (170),Not an NIA or Emerging Neighbourhood,None,17824801,"POLYGON ((-79.38404 43.64497, -79.38502 43.644..."

In [497]:
stops.head()

                        stop_name                    geometry
0       DANFORTH RD AT KENNEDY RD  POINT (-79.26094 43.71438)
1      DAVENPORT RD AT BEDFORD RD  POINT (-79.39966 43.67445)
2       DAVENPORT RD AT DUPONT ST  POINT (-79.40194 43.67551)
3  DAVISVILLE AVE AT CLEVELAND ST  POINT (-79.37811 43.70209)
4          DISCO RD AT ATTWELL DR  POINT (-79.59484 43.70136)

In [498]:
joinedDF=sjoin(stops, neighborhoods, how='left',predicate="within")

In [499]:
joinedDF.tail()

,stop_name,geometry,index_right,_id,AREA_ID,AREA_ATTR_ID,PARENT_AREA_ID,AREA_SHORT_CODE,AREA_LONG_CODE,AREA_NAME,AREA_DESC,CLASSIFICATION,CLASSIFICATION_CODE,OBJECTID
9425,EGLINTON AVE WEST AT JANE ST WEST SIDE,POINT (-79.49932 43.68446),72.0,73.0,2502294.0,26022809.0,None,115.0,115.0,Mount Dennis,Mount Dennis (115),Neighbourhood Improvement Area,NIA,17825889.0
9426,THE QUEENSWAY AT ALGIE AVE,POINT (-79.53606 43.61897),46.0,47.0,2502320.0,26022835.0,None,159.0,159.0,Etobicoke City Centre,Etobicoke City Centre (159),Not an NIA or Emerging Neighbourhood,None,17825473.0
9427,THE QUEENSWAY AT ALGIE AVE EAST SIDE,POINT (-79.53573 43.61884),46.0,47.0,2502320.0,26022835.0,None,159.0,159.0,Etobicoke City Centre,Etobicoke City Centre (159),Not an NIA or Emerging Neighbourhood,None,17825473.0
9428,STEELES AVE EAST AT MIDLAND AVE EAST SIDE,POINT (-79.29692 43.82593),29.0,30.0,2502337.0,26022852.0,None,130.0,130.0,Milliken,Milliken (130),Not an NIA or Emerging Neighbourhood,None,17825201.0
9429,KIPLING AVE AT ROWNTREE RD NORTH SIDE,POINT (-79.58582 43.75123),152.0,153.0,2502214.0,26022729.0,None,2.0,2.0,Mount Olive-Silverstone-Jamestown,Mount Olive-Silverstone-Jamestown (2),Neighbourhood Improvement Area,NIA,17827169.0

In [500]:
joinedDF.isnull().sum()

stop_name                 0
geometry                  0
index_right             345
_id                     345
AREA_ID                 345
AREA_ATTR_ID            345
PARENT_AREA_ID         9430
AREA_SHORT_CODE         345
AREA_LONG_CODE          345
AREA_NAME               345
AREA_DESC               345
CLASSIFICATION          345
CLASSIFICATION_CODE    6768
OBJECTID                345
dtype: int64

In [501]:
joinedDF['AREA_DESC']=joinedDF['AREA_DESC'].fillna('outside_neighborhoods')

In [502]:
#mapping to dataframe
#making subset
sub=joinedDF[['stop_name','AREA_DESC']]

In [503]:
sub.rename(columns={'AREA_DESC':'Neighbourhood'},inplace=True)

/var/folders/6_/ng_hc75d34d6mrrv7c0dv1380000gn/T/ipykernel_16903/61522964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub.rename(columns={'AREA_DESC':'Neighbourhood'},inplace=True)

In [504]:
#making columns into list
stop_list=list(sub['stop_name'])
areas=list(sub['Neighbourhood'])

In [505]:
#creating dictionary
diction=dict(zip(stop_list,areas))

In [506]:
df3['Neighbourhood'] = df3['stop_name'].map(diction)

In [507]:
df3.head()

,Date,Time,Day,Incident,Min Delay,Min Gap,Fleet,stop_name,Route,ward_name,...,precipitation,stop_delay_count,route_delay_count,ward_delay_count,day_delay_count,year,month,Ridership,month_delay_count,Neighbourhood
0,2021-01-01,04:26,Friday,Emergency Services,0,0,1553,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,8.0,350,558,2981,55,2021,Jan,10895000.0,2758,Newtonbrook West (36)
1,2021-01-01,05:04,Friday,Mechanical,10,0,8144,STRACHAN AVE AT CANNIFF ST,63,Spadina-Fort York,...,8.0,29,1301,1720,55,2021,Jan,10895000.0,2758,West Queen West (162)
2,2021-01-01,05:34,Friday,Mechanical,24,48,8365,949 WILSON AVE,96,York Centre,...,8.0,297,1506,6068,55,2021,Jan,10895000.0,2758,Downsview (155)
3,2021-01-01,05:44,Friday,Emergency Services,15,30,8181,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,8.0,350,558,2981,55,2021,Jan,10895000.0,2758,Newtonbrook West (36)
4,2021-01-01,06:21,Friday,Vision,30,60,3186,JANE STATION,35,Parkdale-High Park,...,8.0,657,1578,2789,55,2021,Jan,10895000.0,2758,Runnymede-Bloor West Village (89)

In [508]:
#turning date columns into strings
df3['Date']=df3['Date'].astype('str')

In [509]:
df3.dtypes

Date                        object
Time                        object
Day                         object
Incident                    object
Min Delay                    int64
Min Gap                      int64
Fleet                       object
stop_name                   object
Route                       object
ward_name                   object
ward_population            float64
ward_median_age            float64
ward_median_income         float64
n_poi                      float64
n_schools                  float64
n_worship                  float64
dist_to_nearest_station    float64
n_stations                 float64
n_stops                      int64
n_stops_route                int64
avg_temperature            float64
avg_visibility               int64
precipitation              float64
stop_delay_count             int64
route_delay_count            int64
ward_delay_count             int64
day_delay_count              int64
year                         int64
month                       object
Ridership                  float64
month_delay_count            int64
Neighbourhood               object
dtype: object

In [510]:
df3.isnull().sum()

Date                       0
Time                       0
Day                        0
Incident                   0
Min Delay                  0
Min Gap                    0
Fleet                      0
stop_name                  0
Route                      0
ward_name                  0
ward_population            0
ward_median_age            0
ward_median_income         0
n_poi                      0
n_schools                  0
n_worship                  0
dist_to_nearest_station    0
n_stations                 0
n_stops                    0
n_stops_route              0
avg_temperature            0
avg_visibility             0
precipitation              0
stop_delay_count           0
route_delay_count          0
ward_delay_count           0
day_delay_count            0
year                       0
month                      0
Ridership                  0
month_delay_count          0
Neighbourhood              0
dtype: int64

In [511]:
cols['Date']=cols['Date'].astype('str')

/var/folders/6_/ng_hc75d34d6mrrv7c0dv1380000gn/T/ipykernel_16903/2769226688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols['Date']=cols['Date'].astype('str')

In [512]:
cols.dtypes

Date                       object
Neighbourhood              object
Fatalities                  int64
Injury_Collisions          object
FTR_Collisions             object
PD_Collisions              object
neighborhood_collisions     int64
day_collisions              int64
dtype: object

In [513]:
cols_dupes=cols[cols.duplicated()]

In [514]:
cols_dupes

,Date,Neighbourhood,Fatalities,Injury_Collisions,FTR_Collisions,PD_Collisions,neighborhood_collisions,day_collisions
482194,2021-06-14,Bay Street Corridor (76),0,NO,NO,YES,4,92
482219,2021-06-15,Agincourt South-Malvern West (128),0,YES,NO,NO,2,114
482244,2021-06-16,Agincourt South-Malvern West (128),0,YES,NO,NO,3,126
482427,2021-06-17,Moss Park (73),0,NO,NO,YES,3,106
482446,2021-06-19,Waterfront Communities-The Island (77),0,NO,NO,YES,6,93
...,...,...,...,...,...,...,...,...
526239,2021-05-29,Niagara (82),0,NO,NO,YES,3,81
526243,2021-08-28,Beechborough-Greenbrook (112),0,YES,NO,NO,2,134
526246,2021-12-07,Bay Street Corridor (76),0,NO,NO,YES,2,125
526250,2021-12-15,Downsview-Roding-CFB (26),0,NO,NO,YES,4,119
526255,2021-12-31,Dovercourt-Wallace Emerson-Junction (93),0,NO,NO,YES,5,99

In [515]:
cols.drop_duplicates(inplace=True)

/var/folders/6_/ng_hc75d34d6mrrv7c0dv1380000gn/T/ipykernel_16903/3659131503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols.drop_duplicates(inplace=True)

In [516]:
cols.shape

(26940, 8)

In [517]:
cols.drop_duplicates(subset=['Date','Neighbourhood'],inplace=True)

/var/folders/6_/ng_hc75d34d6mrrv7c0dv1380000gn/T/ipykernel_16903/597103507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols.drop_duplicates(subset=['Date','Neighbourhood'],inplace=True)

In [518]:
cols.shape

(21982, 8)

In [519]:
#merging on date and neighbourhood
df4=df3.merge(cols, left_on=['Date','Neighbourhood'], right_on=['Date','Neighbourhood'], how='left')

In [520]:
df3.shape

(67135, 32)

In [521]:
df4.shape

(67135, 38)

In [522]:
df4.isnull().sum()

Date                           0
Time                           0
Day                            0
Incident                       0
Min Delay                      0
Min Gap                        0
Fleet                          0
stop_name                      0
Route                          0
ward_name                      0
ward_population                0
ward_median_age                0
ward_median_income             0
n_poi                          0
n_schools                      0
n_worship                      0
dist_to_nearest_station        0
n_stations                     0
n_stops                        0
n_stops_route                  0
avg_temperature                0
avg_visibility                 0
precipitation                  0
stop_delay_count               0
route_delay_count              0
ward_delay_count               0
day_delay_count                0
year                           0
month                          0
Ridership                      0
month_delay_count              0
Neighbourhood                  0
Fatalities                 51712
Injury_Collisions          51712
FTR_Collisions             51712
PD_Collisions              51712
neighborhood_collisions    51712
day_collisions             51712
dtype: int64

In [523]:
#null values have no collisions for the dy, imputing neighborhood_collisions with '0'
df4["neighborhood_collisions"].fillna(0, inplace = True)
df4["day_collisions"].fillna(0, inplace = True)

In [524]:
#imputing remaining with no_collisions
df4.fillna('no_collisions', inplace = True)

In [525]:
df4.isnull().sum()

Date                       0
Time                       0
Day                        0
Incident                   0
Min Delay                  0
Min Gap                    0
Fleet                      0
stop_name                  0
Route                      0
ward_name                  0
ward_population            0
ward_median_age            0
ward_median_income         0
n_poi                      0
n_schools                  0
n_worship                  0
dist_to_nearest_station    0
n_stations                 0
n_stops                    0
n_stops_route              0
avg_temperature            0
avg_visibility             0
precipitation              0
stop_delay_count           0
route_delay_count          0
ward_delay_count           0
day_delay_count            0
year                       0
month                      0
Ridership                  0
month_delay_count          0
Neighbourhood              0
Fatalities                 0
Injury_Collisions          0
FTR_Collisions             0
PD_Collisions              0
neighborhood_collisions    0
day_collisions             0
dtype: int64

In [526]:
df4.shape

(67135, 38)

In [527]:
#including neighborhood_delay_count
df4['neighborhood_delay_count'] = df4.groupby(['Date','Neighbourhood'])['Min Delay'].transform('count')

In [528]:
df4.head()

,Date,Time,Day,Incident,Min Delay,Min Gap,Fleet,stop_name,Route,ward_name,...,Ridership,month_delay_count,Neighbourhood,Fatalities,Injury_Collisions,FTR_Collisions,PD_Collisions,neighborhood_collisions,day_collisions,neighborhood_delay_count
0,2021-01-01,04:26,Friday,Emergency Services,0,0,1553,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,10895000.0,2758,Newtonbrook West (36),0.0,NO,NO,YES,1.0,75.0,3
1,2021-01-01,05:04,Friday,Mechanical,10,0,8144,STRACHAN AVE AT CANNIFF ST,63,Spadina-Fort York,...,10895000.0,2758,West Queen West (162),no_collisions,no_collisions,no_collisions,no_collisions,0.0,0.0,1
2,2021-01-01,05:34,Friday,Mechanical,24,48,8365,949 WILSON AVE,96,York Centre,...,10895000.0,2758,Downsview (155),no_collisions,no_collisions,no_collisions,no_collisions,0.0,0.0,2
3,2021-01-01,05:44,Friday,Emergency Services,15,30,8181,YONGE ST AT STEELES AVE WEST SOUTH SIDE,320,Willowdale,...,10895000.0,2758,Newtonbrook West (36),0.0,NO,NO,YES,1.0,75.0,3
4,2021-01-01,06:21,Friday,Vision,30,60,3186,JANE STATION,35,Parkdale-High Park,...,10895000.0,2758,Runnymede-Bloor West Village (89),no_collisions,no_collisions,no_collisions,no_collisions,0.0,0.0,2

In [529]:
df4.shape

(67135, 39)

## 3 Exporting dataset

##exporting
df4.to_pickle(os.path.join(path, '02 Data','Prepared', 'final_merge.pkl'))